#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}

#container p {
  font-size: 36px;
  line-height: 32px;

  color: #000000;

  margin: 0;
}



#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}



.bg-red {
  color: #000000;
  background-color: red;
}

.bg-blue {
  color: #000000;
  background-color: #548cff;
}

.bg-green {
  color: #000000;
  background-color: green;
}
